@import '~@/assets/style/Text.css';
@import '~@/assets/style/Background.css';
@import '~@/assets/style/Button.css';

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #333333;
    font-size: 16px;
}

a {
    text-decoration: none !important;
}

a:not(.light) {
    color: #333333 !important;
}

a:hover {
    opacity: 0.6;
}

a.light {
    color: var(--primary-contrast-color);
    transition: opacity 0.25s;
}

a.light:hover {
    color: var(--primary-contrast-color);
}

.view-container {
    position: relative;
    height: calc(100vh - 56px);
    left: 0;
    right: 0;
    background-image: url('~@/assets/img/telstar-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px;
}

.pop-shadow {
    box-shadow: 5px 5px 10px #333333;
}
