html {
    /*Colors*/
    --primary-color: #26a78a;
    --primary-light-color: #e9f6f3;
    --secondary-color: #bb0038;
    --secondary-light-color: #edd9e1;
    --primary-contrast-color: #e9f6f3;
    --success-color: #c1d82f;

    /*Font weight*/
    --fw-bold: 600;
}

.text-telstar-primary {
    color: var(--primary-color);
}
