html {
    /*Colors*/
    --primary-color: #26a78a;
    --primary-light-color: #e9f6f3;
    --secondary-color: #bb0038;
    --secondary-light-color: #edd9e1;
    --primary-contrast-color: #e9f6f3;
    --success-color: #c1d82f;
    --color-white: #FFFFFF;

    /*Font weight*/
    --fw-bold: 600;

    /*Border radius*/
    --border-radius-normal: 10px;

    /*Dimension*/
    --logo-height: 4rem;
    --navbar-height: calc(var(--logo-height) + 1rem);
}

.text-telstar-primary {
    color: var(--primary-color);
}
